<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop 1</title>

    <style>
        @keyframes showText {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .animation {
            animation: showText 1s ease-in-out;
        }
    </style>

</head>

<body>
    <!-- Условия задач: https://disk.yandex.ru/i/iTED3hZEWTVrIQ -->
    <div id="app">
        <h2> Задание 1</h2>
        {{ message }}

        <hr>

        <h2>Задание 2</h2>
        <p>Товаров в корзине {{ count }}</p>
        <!-- von отвечает за вызов события -->
        <button @click=" addNewProductToCart">{{ btnText }}</button>
        <br>
        <button @click="decNewProductToCart">Удалить</button>

        <hr>

        <h2>Задание 3</h2>
        <!-- работу функции можно описать прямо внутри директивы -->
        <button @click="isCanBuy = !isCanBuy">Мне 14 лет</button>
        <!-- vshow - директива видимости -->
        <!-- элемент будет присутствовать на странице, но иметь display: none -->
        <p v-show="isCanBuy">Вы можете заказать товар</p>
        <br>
        <br>
        <button @click="isCantBuy = !isCantBuy">Мне ещё нет 14 лет</button>
        <p v-show=" isCantBuy">Доступ закрыт</p>

        <hr>

        <h2>Задание 4</h2>
        <button @click="isShowMore = !isShowMore">Показать ещё</button>
        <!-- vif - условие в html -->
        <!-- в данном случае элемент ПРОПАДЕТ со страницы -->
        <!-- + реализация анимации -->
        <p class="animation" v-if="isShowMore">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem nam
            libero nulla magni
            architecto ratione voluptates labore expedita? Dolorem, magnam inventore accusantium recusandae, officiis
            laboriosam iure saepe eligendi fuga expedita obcaecati?</p>

        <hr>

        <h2>Задание 5</h2>
        <button @click="generate">Сгенерировать случайное число</button>
        <h1>{{ generateNumber }}</h1>
        <!-- чтобы все условия срабатывали верно, параграфы д.б. на одном уровне вложенности (без div) -->
        <p v-if="generateNumber < 5">Число меньше 5</p>
        <p v-else-if="generateNumber >= 5 && generateNumber < 10">Число от 5 до 9</p>
        <p v-else>Число равно 10</p>
    </div>

    <!-- подключение vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const App = {
            data() {
                return {
                    message: 'Hello Vue!',
                    count: 0,
                    btnText: 'Купить',
                    isCanBuy: false,
                    isCantBuy: false,
                    isShowMore: false,
                    generateNumber: null,
                }
            },
            methods: {
                addCount() {
                    // обращение к контексту, count ищется внутри App
                    if (this.count < 1) {
                        this.count++;
                    }
                },
                decCount() {
                    if (this.count !== 0) {
                        this.count--;
                    }
                },
                changeBtnText() {
                    if (this.count < 1) {
                        this.btnText = 'Купить';
                    } else {
                        this.btnText = 'Товар в корзине';
                    }
                },
                addNewProductToCart() {
                    this.addCount()
                    this.changeBtnText()
                },
                decNewProductToCart() {
                    this.decCount()
                    this.changeBtnText()
                },
                generate() {
                    this.generateNumber = Math.floor(Math.random() * 10 + 1);
                },
            },
        }

        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>